# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs
/CardGames/.vs/CardGames/v17
/CardGames/CardGames.Common/obj
/CardGames/CardGames.War/obj
/CardGames/CardGames.GUI/obj
/CardGames/CardGames.Common/bin/Debug/net6.0
/CardGames/CardGames.GUI/bin/Debug/net6.0
/CardGames/CardGames.War/bin/Debug/net6.0
/CardGames/.vs/CardGames
/CardGames/CardGames.Packaging/bin/AnyCPU/Debug
/CardGames/CardGames.Packaging/obj
/CardGames/CardGames.BlackJack/bin/Debug/net6.0
/CardGames/CardGames.BlackJack/obj
